{% extends 'base.html' %}
{% load rest_framework %}
{% load static %}
{% block content %}

<h1>Event - {{ contract_id }}</h1>

{% if request.user.team != "support" %}
    <form method="POST">
        {% csrf_token %}
        <button type="submit" name="read_only" value = "update_mode_off"><img src="{% static 'images/update_keylock.png'%}"></button>
    </form>
    {% endif %}

<form method="POST">
    {% csrf_token %}
    {% render_form serializer %}
    <input type="submit" name="update_event" value="Save">
</form>

{% if request.user.team == "management" %}

<div class="submit-form">
    <form method="POST" enctype="multipart/form-data">
        {{ delete_form }}
        {% csrf_token %}
        <input type="submit" name="delete_event" value="Delete">
    </form>
</div>
    {% endif %}
{% endblock content %}