{% extends 'base.html' %}
{% load rest_framework %}
{% load review_extras %}
{% block content %}
    <h2>Customer list of {{ request.user.first_name }} {{ request.user.last_name }} - {{ request.user.team }}</h2>

    <div class="btn-group btn-group-justified">
        <a href="{% url 'customer_list' %}"><button class="btn btn-primary" style="width: 33.3%">All customers</button></a>
        <a href="{% url 'my_customer_list' %}"><button class="btn btn-primary" style="width: 33.3%">Related to me</button></a>
        <a href="{% url 'unactive_customer_list' %}"><button class="btn btn-primary" style="width: 33.3%">Unactive</button></a>
    </div>
    <div class="feed">
    {% for customer in customers %}
        {% include 'customer/customer_snippet.html' with customer=customer %}
        {% if request.user.team == management %}
            <div class = "edit-button">
                <a href="{% url 'customer_detail' customer.id %}"><button>Modifier</button></a>
                <a href="{% url 'customer_detail' customer.id %}"><button>Supprimer</button></a>
            </div>
        {% endif %}
    {% endfor %}
         {% include 'partials\page_navigator.html' %}
    </div>
{% endblock content %}