{% extends 'base.html' %}
{% load rest_framework %}
{% load static %}
{% block content %}

<h1>Customer - {{ customer }}</h1>

{% if request.user.team != "support" %}
    <form method="POST">
        {% csrf_token %}
        <button class="toggle-btn" type="submit" name="read_only" value = "update_mode_off"><img src="{% static 'images/update_keylock.png'%}"></button>
    </form>
    {% endif %}

<div class="update-form">
<form method="POST">
    {% csrf_token %}
    {% render_form serializer %}
    <input class="update-button" type="submit" name="update_customer" value="Save">
</form>

{% if request.user.team == "management" %}

<div class="submit-form">
    <form method="POST" enctype="multipart/form-data">
        {{ delete_form }}
        {% csrf_token %}
        <input class="delete-button" type="submit" name="delete_customer" value="Delete">
    </form>
</div>
</div>
    {% endif %}
{% endblock content %}


{% block right-side %}

        <div class=customer-buttons>
        <a href="{% url 'contract_create' customer.id %}"><button><img src="{% static 'images/add_contract.png'%}">Add a contract</button></a>
            <a href="{% url 'contract_list' %}"><button><img src="{% static 'images/contrat_list.png'%}">Ongoing contracts</button></a>
                <a href="{% url 'customer_event_list' customer.id %}"><button>Events associated</button></a>
    </div>
{% endblock right-side %}