{% extends 'base.html' %}
{% load rest_framework %}

{% block content %}

{% load static %}
<div class="snippet">
        {% if  customer.status == 'prospect' %}
            <img class="customer-banner" src="{% static 'images/customers/banner_down_prospect_small.png'%}">
        {% elif  customer.status == 'ongoing'%}
            <img class="customer-banner" src="{% static 'images/customers/banner_down_ongoing_small.png'%}">
        {% elif  customer.status == 'unactive'%}
            <img class="customer-banner" src="{% static 'images/customers/banner_down_unactive_small.png'%}">
        {% elif  customer.status == 'blacklisted'%}
            <img class="customer-banner" src="{% static 'images/customers/banner_down_blacklisted_small.png'%}">
        {% endif %}

        <p class="date">last_update : {{ customer.date_updated }}</p>
<table>
    {% if customer.company_name%}
        <thead>
            <tr>
                <td class="td-infos">company :</td>
                <td class = titre>{{ customer.company_name}}</td>
            </tr>
        </thead>
            <tr>
                <td class="td-infos">contact : </td>
                <td>{{ customer.first_name }} {{ customer.last_name }}</td>
            </tr>
    {% else %}
        <thead>
            <tr>
                <td class="td-infos">customer :</td>
                <td class = titre>{{ customer.first_name }} {{ customer.last_name }}</td>
            </tr>
        </thead>
    {% endif %}
        <tbody>
            <tr>
                <td class="td-infos">sales_contact :</td>
                <td>{{ customer.sales_contact.username }}</td>
            </tr>
            <tr>
                <td class="td-infos">mobile :</td>
                <td>{{ customer.mobile }}</td>
            <tr>
                <td class="td-infos">phone :</td>
                <td>{{ customer.phone }}</td>
            </tr>
            <tr>
                <td class="td-infos">email</td>
                <td>{{ customer.mail }}</td>
            </tr>
            <tr>
                <td class="td-infos">date_created</td>
                <td>{{ customer.date_created }}</td>
            </tr>
            <tr>
                <td class="td-infos">status</td>
                <td>{{ customer.status }}</td>
            </tr>
</table>
    <div class=customer-buttons>

            <a href="{% url 'contract_list' %}"><button><img src="{% static 'images/contrat_list.png'%}">Ongoing contracts</button></a>
                <a href="{% url 'customer_detail' customer.id %}"><button>Customer detail</button></a>
    </div>
</div>
{% endblock content %}