{% extends 'base.html' %}
{% load rest_framework %}
{% block content %}
    <h2>Customer List of {{ request.user.first_name }} {{ request.user.last_name }} - {{ request.user.team }}</h2>
    <div class="grid-container">
    {% for customer in customers %}
        <div class="snippet">
        {% include 'customer/customer_snippet.html' with customer=customer %}
        </div>
        {% if request.user.team == management %}
            <div class = "edit-button">
                <a href="{% url 'customer_detail' customer.id %}"><button>Modifier</button></a>
                <a href="{% url 'customer_detail' customer.id %}"><button>Supprimer</button></a>
            </div>
        {% endif %}
    {% endfor %}

    </div>
     {% include 'partials\page_navigator.html' %}



{% endblock content %}