{% extends 'base.html' %}
{% load review_extras %}
{% block content %}
    <div class = "top-button">
    </div>
    {%  if search %}
    <h2> Recherche pour "{{ search }}"</h2></h>
    {% else %}
    <h2>Derniers posts</h2>
    {% endif %}
    <div class="feed">
        {% for instance in page_obj %}
            {% if instance|model_type == 'User' %}
                {% include 'user/user_snippet.html' with user=instance %}
            {% elif instance|model_type == 'Customer' %}
                {% include 'customer/customer_snippet.html' with customer=instance %}
            {% elif instance|model_type == 'Contract' %}
            {% include 'contract/contract_snippet.html' with contract=instance %}
                {% elif instance|model_type == 'Event' %}
            {% include 'event/event_snippet.html' with event=instance %}
            {% endif %}
        {% endfor %}
    </div>
    {% include 'partials\page_navigator.html' %}
{% endblock content %}