{% extends 'base.html' %}
{% load rest_framework %}
{% block content %}
    <h2>Contract List of {{ request.user.first_name }} {{ request.user.last_name }} - {{ request.user.team }}</h2>
{#    <form action="{% url 'user_list' %}" method="POST">#}
{#    {% csrf_token %}#}
{#    {% render_form { serializer } %}#}
{#    <input type="submit" value="Save">#}
{#</form>#}

    <div class="grid-container">
    {% for contract in contracts %}
        {% include 'contract/contract_snippet.html' with contract=contract %}
        {% if request.user.team == management %}
            <div class = "edit-button">
                <a href="{% url 'customer_detail' customer.id %}"><button>Modifier</button></a>
                <a href="{% url 'customer_detail' customer.id %}"><button>Supprimer</button></a>
            </div>
        {% endif %}
    {% endfor %}

    </div>
     {% include 'partials\page_navigator.html' %}



{% endblock content %}