{% extends 'base.html' %}
{% load rest_framework %}
{% load static %}
{% load review_extras %}
{% block content %}

<h1>Contract - {{ contract }}</h1>

{% if request.user.team != "support" %}
    <form method="POST">
        {% csrf_token %}
        <button class="toggle-btn" type="submit" name="read_only" value = "update_mode_off"><img src="{% static 'images/update_keylock.png'%}"></button>
    </form>
    {% endif %}

<div class="update-form">

    <form method="POST">
        {% csrf_token %}
        {% render_form serializer %}
        <input class="update-button" type="submit" name="update_contract" value="Save">
    </form>
{% if request.user.team == 'management' %}
    <form  method="POST" enctype="multipart/form-data">
        {{ delete_form }}
        {% csrf_token %}
        <input class="delete-button" type="submit" name="delete_contract" value="Delete">
    </form>
{% endif%}

</div>

{% endblock content %}
{% block right-side %}

    <div>
        {% if contract.event_associated == "uncomplete" %}
            <a href="{% url 'event_create' contract.id %}"><button>Add an event</button></a>
        {% else %}
        <p> a {{contract.event_associated}} contract.id</p>
        {% include 'event/event_snippet.html' with contract=contract %}
    {% endif %}
</div>

    {% for i in contract|table_contract_detail%}
{#        for i in #}
{#        <p>{{i[0]}}</p>#}
    {% endfor %}
    <table>
        <tbody>
        {% for i in table %}
            <p>i</p>
        {%endfor %}</tbody>
    </table>
{% endblock right-side %}