    <div class="snippet">
        {% if customer.company_name%}
        <p>company : {{ customer.company_name}}</p>
        {% endif %}
        <p>customer : {{ customer.first_name }} {{ customer.last_name }}</p>
        <p>sales_contact : {{ customer.sales_contact.username }}</p>
        <p>status : {{ customer.status }}</p>

        {% if customer.status != 'ongoing' %}
        <a href="{% url 'event_create' %}"><button>Add an event</button></a>
            {% else %}
            <a href="{% url 'contract_detail' %}"><button>See the contract</button></a>
    {% endif %}
    </div>