    <div class="snippet">
        <p class="date">last_update : {{ contract.date_updated }}</p>
<table>
    {% if contract.name%}
        <thead>
            <tr>
                <td class="td-infos">name :</td>
                <td class = titre>{{ contract.name}}</td>
            </tr>
        </thead>
            <tr>
                <td class="td-infos">customer : </td>
                <td>{{ contract.customer }}</td>
            </tr>
    {% else %}
        <thead>
            <tr>
                <td class="td-infos">customer :</td>
                <td class = titre>{{ contract.customer_id }}</td>
            </tr>
        </thead>
    {% endif %}
        <tbody>
            <tr>
                <td class="td-infos">sales_contact :</td>
                <td>{{ contract.sales_contact.username }}</td>
            </tr>
                <td class="td-infos">amount :</td>
                <td>{{ contract.amount }}</td>
            </tr>
            <tr>
                <td class="td-infos">payment_due</td>
                <td>{{ contract.payment_due }}</td>
            </tr>
            <tr>
                <td class="td-infos">date_created</td>
                <td>{{ contract.date_created }}</td>
            </tr>
            <tr>
                <td class="td-infos">status</td>
                <td>{{ contract.status }} contract = {{ contract.id }}</td>
            </tr>
        </tbody>
</table>
    <div class=customer-buttons>
    <a href="{% url 'contract_detail' contract.id %}"><button>See the contract</button></a>
    {% if customer.status != 'ongoing' %}
    <a href="{% url 'event_create' contract.id %}"><button>Add an event</button></a>
        {% else %}
    {% endif %}
    </div>
</div>