{% extends 'base.html' %}
{% load rest_framework %}
{% load static %}
{% block content %}
{% load review_extras %}
<h1>Contract - {{ contract }}</h1>

{%  if request.user.team != "support" %}
    <form method="POST">
        {% csrf_token %}
        <button class=toggle-btn type="submit" name="read_only" value = "update_mode_on"><img src="{% static 'images/update_pen.png'%}"></button>
    </form>
    {% endif %}



<div class="snippet">
        <p class="date">last_update : {{ contract.date_updated }}</p>
<table>
    {% if contract.name%}
        <thead>
            <tr>
                <td class="td-infos">name : </td>
                <td class = titre>{{ contract.name}}</td>
            </tr>
        </thead>
            <tr>
                <td class="td-infos">customer : </td>
                <td>{{ contract.customer_id }}</td>
            </tr>
    {% else %}
        <thead>
            <tr>
                <td class="td-infos">customer : </td>
                <td class = titre>{{ contract.customer_id }}</td>
            </tr>
        </thead>
    {% endif %}
        <tbody>
            <tr>
                <td class="td-infos">sales_contact : </td>
                <td>{{ contract.sales_contact.username }}</td>
            </tr>
                <td class="td-infos">amount : </td>
                <td>{{ contract.amount }}</td>
            </tr>
            <tr>
                <td class="td-infos">payment_due : </td>
                <td>{{ contract.payment_due }}</td>
            </tr>
            <tr>
                <td class="td-infos">date_created : </td>
                <td>{{ contract.date_created }}</td>
            </tr>
            <tr>
                <td class="td-infos">status : </td>
                <td>{{ contract.status }} </td>
            </tr>
        </tbody>
</table>
    <div class=customer-buttons>
    <a href="{% url 'customer_detail' contract.customer_id.id %}"><button>See the customer</button></a>
    {% if contract.event_associated == "complete"%}
        <a href="{% url 'event_detail' contract.id %}"><button>See the event</button></a>
        {% else %}
        <p>No event associated yet</p>
    {% endif %}
    </div>
</div>

{%  endblock content %}
{% block right-side %}
    <h2>Events associated</h2>
    <div>
        {% if contract.event_associated == "uncomplete" %}
            <a href="{% url 'event_create' contract.id %}"><button>Add an event</button></a>
        {% else %}

        {% include 'event/event_snippet.html' with event=event %}
    {% endif %}
</div>

    <h2>Issues</h2>
    {% for issue in contract|table_contract_detail%}
            <tr>
            {{ issue }}
                </tr>
    {% endfor %}


{% endblock right-side %}