    <div class="snippet">
        <p>customer : {{ contract.customer_id }}</p>
        <a href="{% url 'contract_detail' contract.id %}">name : {{ contract }}</a>
        <p>sales_contact : {{ contract.sales_contact.username }}</p>
        <p>status : {{ contract.status }}</p>
        <p>payment_due : {{ contract.payment_due }}</p>
        {% if customer.status != 'ongoing' %}
        <a href="{% url 'event_create' contract.id %}"><button>Add an event</button></a>
            {% else %}
            <br>
    {% endif %}
<br>
<a href="{% url 'contract_detail' contract.id %}"><button>See the contract</button></a>
    </div>