{% extends 'base.html' %}
{% load rest_framework %}

{% block content %}

<h1>Contract - {{ contract }}</h1>

<form method="POST">
    {% csrf_token %}
    {% render_form serializer %}
    <input type="submit" name="update_contract" value="Save">
</form>

<div class="submit-form">
    <form method="POST" enctype="multipart/form-data">
        {{ delete_form }}
        {% csrf_token %}
        <input type="submit" name="delete_contract" value="Delete">
    </form>
    </div>
{% endblock content %}