{%  load static %}

<div class="snippet">
    {% if  user.team == 'management' %}
        <img class="snippet_img_bg" src="{% static 'images/users/management_user.png'%}">
    {% elif  user.team == 'support' %}
        <img class="snippet_img_bg" src="{% static 'images/users/user_support.png'%}">
    {% elif  user.team == 'sales' %}
        <img class="snippet_img_bg" src="{% static 'images/users/sales_user.png'%}">
    {% endif %}
    <table>
        <tr>
            <td class="td-infos">user : </td>
            <td class = titre>{{ user.first_name }} {{ user.last_name }}</td>
        </tr>
{#        <tr>#}
{#            <td class="td-infos">username : </td>#}
{#            <td>{{ user.username }}</td>#}
{#        </tr>#}
        <tr>
            <td class="td-infos">team : </td>
            <td>{{ user.team }}</td>
        <tr>
            <td class="td-infos">email : </td>
            <td>{{ user.email }}</td>
        </tr>
    </table>
</div>