{% load static %}
<html>
    <head>
        <title>EPIC EVENT</title>
        <link rel="stylesheet" href="{% static 'app.css' %}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    </head>
<body>
        <div class="topnav">
            <h1>Epic Event</h1>

            <img class ="logo" src="{% static 'images/LogoEpicEvent.png'%}">
            {% if user.is_authenticated %}

                {% if user.profile_photo %}
                    <img class="avatar" src={{ user.profile_photo.url }}>
                {% else %}
                    <img class="avatar" src="{% static 'images/default_profile.png'%}">
                {% endif %}
                <p id="welcome">Connecté en tant que : {{ user }}</p>

                <div class="dropdown">
                    <button class="dropbtn">Mon compte  <i class="fa fa-caret-down"></i></button>
                    <div class="dropdown-content">
                      <a href="{% url 'user_detail' request.user.id%}">Mes informations</a>
                      <a href="{% url 'home' %}">Nouvelle photo</a>
                      <a href="{% url 'logout' %}">Se déconnecter</a>
                    </div>
                </div>
                <div class="dropdown">
                    <button class="dropbtn">Users<i class="fa fa-caret-down"></i></button>
                        <div class="dropdown-content">
                          <a href="{% url 'user_list' %}">Browse</a>
                          <a href="{% url 'user_create' %}">New</a>
                        </div>
                    </div>
                <div class="dropdown">
                    <button class="dropbtn">Contracts<i class="fa fa-caret-down"></i></button>
                        <div class="dropdown-content">
                          <a href="{% url 'contract_list' %}">Browse</a>
                {% if request.user.team != "management" %}
                          <a href="{% url 'my_contract_list' %}">My contracts</a>
                              {%  endif %}
                            <a href="{% url 'no_event_contract_list' %}">Contracts without event</a>
                        </div>
                </div>
                <div class="dropdown">
                    <button class="dropbtn">Customers<i class="fa fa-caret-down"></i></button>
                        <div class="dropdown-content">
                          <a href="{% url 'customer_list' %}">Browse</a>
                            <a href="{% url 'customer_create' %}">New</a>
                            {% if request.user.team != "management" %}
                            <a href="{% url 'my_customer_list' %}">My customers</a>
                            {%  endif %}
                        </div>
                </div>
                <div class="dropdown">
                    <button class="dropbtn">Events<i class="fa fa-caret-down"></i></button>
                        <div class="dropdown-content">
                          <a href="{% url 'event_list' %}">Browse</a>
                                   {% if request.user.team != "management" %}
                            <a href="{% url 'user_event_list' request.user.id %}">My events</a>
                                         {%  endif %}
                            {% if request.user.team == 'management'%}
                            <a href="{% url 'unassigned_event_list'%}">Unassigned events</a>
                            {% endif %}
                        </div>
                </div>
                <a href="{% url 'home' %}">Accueil</a>
                <div class="submit-form">

    <form action="{% url 'search' %}" class="form-inline" method="get">

       <div class="form-group mx-sm-3 mb-2">
        <label for="" class="sr-only">search</label>
        <input name="search" type="" class="form-control" id="" placeholder="Keyword">
        </div>

        <button type="submit" class="btn btn-success btn-lg mb-2">Search</button>

   </form>
                </div>
            {% endif %}
        </div>
        <div class="main">
            {% if flash %}
        <h3>{{ flash }}</h3>
        {% endif %}
            {% block content %}{% endblock content %}
        </div>
    </body>
</html>
